ul{
    list-style-type: none;
}
.circle{
    border-radius: 50%;
}
.none{
    display: inline;
}
.section2_box{
    border-radius: 3px;
background-color: black;
color: aliceblue;
padding: 20px;
margin: 2px;px;
}
.border_style{
    border: 1px solid black;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.3em 0.3em 1em rgba(52, 81, 82, 0.6);;
}

.style_button{
    background-color: rgb(236, 233, 29); border-radius: 8px; border-color: yellow;
}
@media screen and (max-width:700px) {
    .none{
  display: none;
    }
   
}